precip_trend_analysis:/home/{{ oph_user }}/ophidia-workflow-catalogue/indigo/precip_trend_analisys/script/precip_trend_analysis.sh
precip_trend_analysis_ensemble:/home/{{ oph_user }}/ophidia-workflow-catalogue/indigo/precip_trend_analisys/script/precip_trend_analysis_ensemble.sh

