MAPPER_DB_NAME=ophidiadb
MAPPERDB_HOST={{ server_ip }}
MAPPERDB_PORT=3306
MAPPERDB_LOGIN=root
MAPPERDB_PWD={{ ophdb_passwd }}
WEB_SERVER=http://{{ server_ip }}/ophidia
WEB_SERVER_LOCATION=/var/www/html/ophidia
MEMORY=1024
