<?xml version="1.0" encoding="UTF-8"?>
<threddsConfig>

  <serverInformation>
    <name>Ophidia TDS</name>
    <logoUrl>http://ophidia.cmcc.it/web/wp-content/themes/ophidia/images/oph_logo_symbol_small.png</logoUrl>
    <logoAltText>Ophidia TDS</logoAltText>

    <abstract>Ophidia Thredds Data Server</abstract>
    <keywords>meteorology, atmosphere, climate, ocean, earth science</keywords>
    
    <contact>
      <name>Support</name>
      <organization>CMCC</organization>
      <email>ophidia-info@lists.cmcc.it</email>
    </contact>
    <hostInstitution>
      <name>ASC</name>
      <webSite>http://www.cmcc.it/</webSite>
      <logoUrl>http://www.cmcc.it/wp-content/themes/cmcc/images/logo.png</logoUrl>
      <logoAltText>ASC</logoAltText>
    </hostInstitution>
  </serverInformation>

  <htmlSetup>
    <standardCssUrl>tds.css</standardCssUrl>
    <catalogCssUrl>tdsCat.css</catalogCssUrl>
    <openDapCssUrl>tdsDap.css</openDapCssUrl>
    <googleTrackingCode></googleTrackingCode>
  </htmlSetup>
  
  <CatalogServices>
    <allowRemote>false</allowRemote>
  </CatalogServices>

  <Opendap>
    <ascLimit>50</ascLimit>
    <binLimit>500</binLimit>
    <serverVersion>opendap/3.7</serverVersion>
  </Opendap>

</threddsConfig>

